*{
    margin: 0;
    padding: 0;
}

.all{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.qp{
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    background-color: #17a2b8;
}
.k{
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
    

}
.aa{
    padding: 20px;
}

.aa h1,
.aa h2,
.aa h3,
.aa p{
    margin: 20px;
}
 .k{
     border-radius: 50%;
     background-color: #fff;
     height: 190px;
     padding: 5px;
     margin-top:20px;
     margin-left: 20px; 
 } 
 .lk{
     height: 20px;
 }
 .mn{
     height:20px ;
 }